@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
    background-color: #f2f2f2;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}
$primary: #dc9756;
$secondary: #012e61;

.herowrapper {
    min-height: 90vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #hero {
        min-height: 800px;
        height: 90vh;
        display: flex;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        font-family: "Poppins";
        font-size: 70px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.05;
        letter-spacing: normal;
        text-align: center;
        color: white;

        span {
            color: $primary;
        }
    }
    h4 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        max-width: 676px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
.Rectangle-2 {
    width: 813px;
    height: 90px;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    button {
        width: 50px;
        height: 50px;
        flex-grow: 0;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        background: $secondary;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
        img {
            width: 50px;
            height: 50px;
            flex-grow: 0;
        }
    }
    input {
        background-color: #fafafa;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.17px;
        text-align: center;
        color: #1e1e1e;
        box-shadow: none;
        &::placeholder {
            font-family: "Inter", sans-serif;
            font-size: 17px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.17px;
            text-align: center;
            color: #1e1e1e;
        }
    }
}
.globaTitle,
.homepageTitle {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.74;
    letter-spacing: -0.56px;
    text-align: left;
    color: #1e1e1e;
}
.jobscarousel {
    background-color: #f2f2f2;
    .swiper-pagination-bullet-active {
        background-color: $secondary !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            background-color: #5e63686f;
            color: white !important;
            font-size: 16px !important;
            height: 39px;
            width: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $secondary !important;
            }
        }

        img {
            width: 19px;
            height: auto;
            margin-right: 1em;
        }

        &:nth-of-type(1) {
            img {
                width: 20px;
            }
        }
    }

    .homepageTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1em 0;
    }
    .container {
        background: none;
    }
}
.emploi-card {
    padding: 1em;
    background: none;

    .white {
        align-self: flex-end;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        box-shadow: 8px 8px 16px 4px rgba(137, 143, 150, 0.126);
        border: solid 0.5px #ebf1fa;
        background-color: #fafafa;
        overflow: hidden;
    }
    .white-content {
        width: 90%;
        margin-bottom: 1.5em;
        p {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #5e6368;
            text-align: justify;
        }
    }
    .white-content-2 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 90%;
        padding-bottom: 2em;
        p {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            font-family: "Open Sans", sans-serif;
            margin-bottom: 0.5em;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.16px;
            text-align: left;
            color: #5e6368;
            &:nth-of-type(1) {
                img {
                    width: 20px;
                }
            }
        }
        img {
            width: 19px;

            height: auto;
            margin-right: 1em;
        }
    }
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.24px;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 1em;

        color: #1e1e1e;
    }
    h4 {
        font-family: "Poppins", sans-serif;
        margin-bottom: 1em;

        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #5e6368;
    }
}
.recruiterwrapper {
    background: url(images/bgafrican.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container {
    }
}
.recruiterwrapper {
    .intro {
        margin-bottom: 4em;
        margin-top: 4em;

        h3 {
            font-family: "Inter", sans-serif;
            font-size: 48px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #242a33;
            margin-bottom: 10px;
            span {
                color: #dc9756 !important;
            }
        }

        h4 {
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #0d0d0d;
        }
    }
    .recruitcolumn {
        h2 {
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.56;
            letter-spacing: normal;
            text-align: center;
            color: #000;
            margin: 1em 0;
            text-align: center;
        }
        p {
            font-family: "Inter", sans-serif;

            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.9;
            letter-spacing: normal;
            text-align: center;
            color: #000;
        }
    }
}
